

body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: #606c76;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.timer-display {
    height: 128px;
    line-height: 128px;
    font-size: 64px;
    font-family: monospace;

}

.timer-controls {
    display: flex;
    flex-direction: row;
}

.timer-laps {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-areas: "lap-head time-head duration-head";
    grid-gap: 8px 16px;
    font-size: 24px;
    margin-top: 32px;
    overflow-y: auto;
}

.timer-lap-header, .timer-lap-col {
    text-align: center;
}

.timer-lap-header {
    font-weight: bold;
}

.timer-lap-header.timer-lap-number {
    grid-area: lap-head;
}

.timer-lap-header.timer-lap-time {
    grid-area: time-head;
}
.timer-lap-header.timer-lap-duration {
    grid-area: duration-head;
}

button {
    height: 38px;
    line-height: 38px;
    padding: 0 30px;
    margin: 0 8px;
    border: none;
    border-radius: 4px;
    background-color: #9b4dca;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
}

button:hover {
    cursor: pointer;
    filter: brightness(85%);
}

button:focus {
    filter: none;
}

@media only screen and (max-width: 500px) {

    .timer-display {
        font-size: 32px;
    }

    .timer-controls {
        flex-direction: column;
    }

    button {
        margin: 8px 0;
    }

}
